/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* COMMON */
body {
    font-family: 'Open Sans', sans-serif;

    /* TEST  */
    background-color: rgb(146, 191, 32);
}

img{
    width: 100%;
}

ul{
    list-style-type: none;
}

a{
    text-decoration: none;
    color: black;
}

/* Buttons */
.btn {
    text-decoration: none;
    display: inline-block;
}
.btn.small {
    color: white;
    padding: 4px 13px;
    background-color: hsl(217deg 100% 50%);
}

.container-big{
    width: 80%;
    margin: auto;
}

.flex-container {
    display: flex;
}

/* \\\\\\\\\\\\\\\\\ HEADER \\\\\\\\\\\\\\\\\\  */

header{
    /* test  */
    background-color: bisque;

    height: 60px;
    top: 0;
    left: 0;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 10;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    color: black;
    font-weight: 600;
    font-size: 13px;
}

    nav .sx{
        display: flex;
        align-items: center;
        padding: 0 20px;
        height: 100%;
    }

    nav .dx{
        display: flex;
        align-items: center;
        padding: 0 20px;
        height: 100%;
    }
    
    .logo img{
        vertical-align: middle;
        width: 100px;
     
    }

    .header-menu ul{
        display: flex;
    }
    
    .header-menu li {
        margin: 0 10px;
    }

/* \\\\\\\\\\\\\\\\\ END HEADER \\\\\\\\\\\\\\\\\  */

/* ////////////////////  MAIN  ////////////////////// */

main{
    margin-top: 55px;
}

.jumbotron-background{

    background-color: hsl(207deg 52% 81%);
}

.jumbotron{
    margin-top: 140px;
}

h1{
    font-weight: 700px;
    font-size: 60px;
}

.info-col{
    width: calc((100% / 5)*2);
    padding-right: 60px;
    font-weight: 600;
    font-size: 13px;
    margin-top: 50px;
}

.image-col{
    width: calc((100% / 5)*3);
}

  .image-col img{
      position: relative;
      top: 50px;

  }

    .jumbotron-text{
        margin-bottom: 20px;
    }

    .info-col .btn.small{
        padding: 6px 15px;
    }

    .jumbotron-text-end{
        font-size: 12px;
        margin-top: 10px;
    }
    
    .fas.fa-arrow-down{
        font-size: 35px;
        margin-top: 30px;
    }













/* //////////////////// END MAIN  ////////////////////// */