/* RESET */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* COMMON */

body {
    font-family: 'Open Sans', sans-serif;
}

img{
    width: 100%;
}

ul{
    list-style-type: none;
}

a{
    text-decoration: none;
    color: black;
}

h2{
     font-size: 30px;
}

h3{
    font-size: 18px;
}

h4{
    font-size: 13px;
}

.sub-infotext{
    font-weight: 600;
    font-size: 11px;
    margin-bottom: 20px;
}

i{
    margin-right: 3px;
}

.btn {
    text-decoration: none;
    display: inline-block;
}

.btn.small {
    color: white;
    padding: 4px 13px;
    background-color: hsl(217deg 100% 50%);
}

.container-big{
    width: 80%;
    margin: auto;
}

.container-small{
    width: 70%;
    margin: auto;
}

.card-container{
    width: 80%;
    margin: auto;
    height: 200px;
}

.flex-container {
    display: flex;
}

/* \\\\\\\\\\\\\\\\\ HEADER \\\\\\\\\\\\\\\\\\  */

 /* TOP HEADER  */

header{
    background-color: hsl(207deg 52% 81%);
    position: relative;
    top: -80px;
}

.top-header{
    /* test  */
    background-color: white;
    position: fixed;
    height: 60px;
    width: 100%;
    top: 0px;
    left: 0px;
    z-index: 10;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    color: black;
    font-weight: 600;
    font-size: 13px;
}

    nav .sx{
        display: flex;
        align-items: center;
        padding: 0 20px;
        height: 100%;
    }

    nav .dx{
        display: flex;
        align-items: center;
        padding: 0 20px;
        height: 100%;
    }
    
    .logo img{
        vertical-align: middle;
        width: 100px;
     
    }

    .header-menu ul{
        display: flex;
    }
    
    .header-menu li {
        margin: 0 10px;
    }

/* JUMBOTRON ( BOTTOM-HEADER )  */

.jumbotron{
    margin-top: 140px;
    padding-top: 8%;
}


h1{
    font-size: 54px;
}

.info-col{
    width: calc((100% / 5)*2);
    padding-right: 60px;
    font-weight: 600;
    font-size: 13px;
    margin-top: 50px;
}

.image-col{
    width: calc((100% / 5)*3);
}

  .image-col img{
      position: relative;
      top: 50px;
  }

    .jumbotron-text{
        margin-bottom: 20px;
    }

    .info-col .btn.small{
        padding: 6px 15px;
    }

    .jumbotron-text-end{
        font-size: 12px;
        margin-top: 10px;
    }
    
    .fas.fa-arrow-down{
        font-size: 25px;
        margin-top: 20px;
    }

/* \\\\\\\\\\\\\\\\\ END HEADER \\\\\\\\\\\\\\\\\  */

/* ////////////////////  MAIN  ////////////////////// */

/* <!-- TIPI DI ABBONAMENTO  -->  */

.subscription-card {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.billing-info{
    font-weight: 600;
    margin-bottom: 25px;
    margin-top: 35px;
  }

.checkbox{
          width: 15px;
          height: 15px;
          border-radius: 50%;
          display: inline-block;
          border: 1px solid lightgrey ;
           vertical-align: middle;
           margin-right: 5px;
           line-height: 100%;
}

.checkbox.blue-border{
           border: 4px solid hsl(217deg 100% 50%) ;   
}

.checkbox-text{
    font-size: 13px;
    padding-right: 15px;
}

.subscription-card .col {
    width: calc( ( 100% / 3 ) - 40px );
    border: 1px solid lightgray;
    height: 800px;
}    

.subscription-plans{
    margin-top: 70px;
}    

.subscription-plans h2{
    margin-bottom: 20px;
}    

.sub-type{
    border-bottom: 1px solid lightgray;
    font-weight: 600;
    text-align: center;
    padding: 7px 10px;
    font-size: 13px;
}

.card .fa-regular.fa-user{
    font-size: 12px;
}

.sub-infotext.thin{
    color: grey;
    margin-top: -15px;
}

.sub-infotext a{
    text-decoration: underline;
    color: #0000EE;
}

.card-container hr{
    width: 25%;
    margin-bottom: 20px;
}

.card-container h3{
    margin-top: 25px;
    margin-bottom: 10px;
}

 .card-container h4{
     margin-bottom: 20px;
 }

 .card-container .btn{
     font-size: 10px;
    padding: 7px 30px;
    background-color: hsl(217deg 100% 50%);
    margin-bottom: 20px;
 }

  .card-container .fa-solid.fa-check{
      color: #0000EE;
  }

  .card-container .fa-solid.fa-pen{
    font-size: 9px;
  }

  .card-container .fa-regular.fa-face-smile{
      font-size: 10px;
  }

  .card-container .fa-regular.fa-user, .fa-solid.fa-user-plus{
    font-size: 11px;
  }

  
  .card-container .fa-regular.fa-folder{
    font-size: 11px;
  }

    /* SUBSCRIPTION CUSTOM  */

     .subscription-custom-top{
         margin-top: 40px;
         border: 1px solid lightgray;
         border-bottom: 0;
     }

     .subscription-custom-bottom {
        width: 100%;
        border: 1px solid lightgray;
     }

     .subcustom-class{
          width: calc((100%/7)*5); 
     }
    
     .subcustom-button{
        width: calc((100%/7)*2);
     }

   .subcustom-class{
     padding-left: 20px;
     }
       
     .subcustom-class h3{
           margin-top: 20px;
     }

     .subcustom-class h4{
        margin-top: 10px;
  }
     
     .subcustom-class .sub-infotext{
        margin-top: 15px;
        margin-bottom: 30px;
     }
 
        
    .subcustom-button .btn{
    font-size: 10px;
    padding: 7px 45px;
    background-color: hsl(217deg 100% 50%);
    margin-top: 20px;
    }

       /* END TIPI DI ABBONAMENTO  */

    /* <!-- ENTRA IN CONTATTO CON UN PARTNER  -->  */

      .partner-finder {
        margin-top: 130px;
     }

    .partner-finder-text{
        width: calc((100%/5)*2); 
        padding-left: 25px;
   }
  
   .partner-finder-image{
      width: calc((100%/5)*3);
   }

   .partner-finder h3{
    margin-top: 20px;
   }

    .partner-finder h4{
    margin-top: 10px;
    }

    .partner-finder .sub-infotext{
    margin-top: 20px;
    margin-bottom: 20px;
    line-height: 1.5;
    }

    .partner-finder-button .btn{
    font-size: 12px;
    font-weight: 600;
    padding: 7px 15px;
    color: black;
    background-color: transparent;
    border: 1px solid black ;
    }
 
    /* <!-- DROPBOX BUSINESS  -->  */

   .all-business-card{
        flex-wrap: wrap;
    }

    .business-card-frame{
        width: calc( 100% / 3 );
        padding-right: 30px;
    }
   
   .dropbox-business{
       margin-top: 80px;
   }

   .all-business-card{
       margin-top: 30px;
   }

   .business-card .sub-infotext{
       margin-top: 15px;
   }

        /* BRAND PARTNER  */
    
        .brand-partner-title{
            margin-top: 120px;
            margin-bottom: 40px;
        }
            
           .brand-partner-title h2{
               margin-bottom: 15px;
           }
        
        .brand-partner-title a{
            font-size: 12px;
            font-weight: 600;
            text-decoration: underline;
            color: #0000EE;
        }

        .all-brand-partner-card{
            flex-wrap: wrap;
            justify-content: space-between;
        }

        .brand-partner-frame{
            width: calc((100%/7)*2);
        }

        .brand-partner-frame.quote{
            width: calc((100%/8)*3);
        }
        
       .brand-partner{
        aspect-ratio: 1 / 1;
       }     
       

       .brand-partner-inner-frame{
           flex-wrap: wrap;
         width: 100%;
       }

       .brand-square{
           width: calc( 100% / 2 );
           height: calc( 100% / 2 );

       }
       
       
       .brand-square{
        width: calc( 100% / 2 );
        height: calc( 100% / 2 );
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .brand-square img{
       width: 60%;
       filter: invert(1);
    }
        .brand-square.designit{
           background-color: #a2d39b;
           border: 10px solid #d0e9cd;
        }

        .brand-square.arizona-state{
            background-color: #61082b;
         }

            .brand-square.arizona-state img{
                width: 45%;
            }   

         .brand-square.florida{
            background-color: #0093ce;
         }

         .brand-square.florida img{
            width: 45%;
        }   

         .brand-square.topps{
            background-color: #ff1c1c;
         }

         .brand-square.topps img{
            width: 45%;
        }   
        
        .brand-square.wbr{
            background-color: #ff1c1c;
         }
         
         .brand-square.hearst-corp{
            background-color: #b4d0e7;
         }

         .brand-square.lonely-planet {
            background-color:  #0d2481;
         }

         .brand-square.clear-channel{
             background-color: #ffd830;
         }
        
        .designit-quote img{
            width: 30%;
            margin-top: 60px;
        }
            
        .designit-quote hr{
            width: 10%;
            margin-top: 20px;
            margin-bottom: 30px;
        }


        .sub-infotext.author{
            margin-top: 30px;
        }

  /* <!-- CALL TO ACTION BANNER -->  */
        
      .call-to-action-container{
          background-color: #b4d0e7;
          height: 250px;
      }

      .call-to-action{
          justify-content: space-between;
      }

      .call-to-action .btn{
        font-size: 15px;
        font-weight: 600;
        padding: 5px 40px;
        color: black;
        background-color: white ;
    }

    .call-to-action h2{
        color: #61082b;
    }

    /* <!-- DOMANDE FREQUENTI  -->  */

     
     .questions{
         border-top: 1px solid lightgray;
         justify-content: space-between;
         height: 50px;
         align-items: center;
     }
      .faq-container h3{
          font-size: 25px;
          margin: 30px 0;
      }
     .chevron-down{
         margin-right: 30px;
         font-size: 15px;
         
     }
     .questions:last-child{
         border-bottom: 1px solid lightgray;
         margin-bottom: 80px;
     }

   /* //////////////////// END MAIN  ////////////////////// */

 /* \\\\\\\\\\\\\\\\\ FOOTER \\\\\\\\\\\\\\\\\\  */


        footer {
            background-color: black;
            color: white;
            padding: 60px 0;
        }
     
        footer h5 {
            font-size: 12px;
            margin-bottom: 10px;
        }
        
        .links-menu a {
            color: inherit;
            font-size: 9px;
         }

        .useful-links-columns{
            justify-content: space-between;
            margin-bottom: 40px;
        }
              
        .footer-bottom {
            color: white;
            padding-top: 20px;
        }
       

         footer hr{
             width: 10%;
             margin-bottom: 20px;
             background-color: gray; height: 1px; border: 0;
             margin-bottom: 40px;
         }

        footer h6{
            font-size: 9px;
            color: grey;
        }

        h6 .fa-solid.fa-chevron-up{
            font-size: 7px;
            margin-left: 1px;
        }
        